DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/shelf_db"
redis-cli --tls -u redis://default:gQAAAAAAAVR_AAIgcDJhN2M5YzRkN2E1ZTc0M2U5ODQ1NTY3ZTk2ZjNhMzg5NA@darling-urchin-87167.upstash.io:6379